// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Neue Machina", "Helvetica", "sans-serif";
$headers-font: "Neue Machina", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Neue Machina";
  src: font-url('../../fonts/neuemachina-regular_2-webfont.woff') format('woff'),
       font-url('../../fonts/neuemachina-ultrabold-webfont.woff') format('woff'),
}
$my-font: "Neue Machina";
