<!-- <h1>characters#show</h1>
 -->

 <div class="container">
   <h2><%= character.name %>_</h2>
 </div>

<div class="container row py-5">
  <div class="col-4 ">
    <% if File.file? "#{Rails.root}/app/assets/images/#{character.photo_url}.jpg" %>
      <%= image_tag ("#{character.photo_url}.jpg"), id: 'img' %>
    <% elsif File.file? "#{Rails.root}/app/assets/images/#{character.photo_url}.png" %>
       <%= image_tag ("#{character.photo_url}.png"), id: 'img' %>
    <% end %>
  </div>

  <div class="col-4">
    <%= character.description %>
  </div>
</div>

<br>
