<!-- <h1>characters#show</h1>
 -->

 <div class="container">
   <h2><%= character.name %>_</h2>
 </div>

<div class="container row">
  <div class="col-4">
    <%= character.photo_url %>
  </div>

  <div class="col-4">
    <%= character.description %>
  </div>
</div>

<br>
