
<div class="navbar navbar-expand-sm navbar-light" id="pmu_bar">
  <p>Me and Rick and Morty running around, and Rick and Morty time. All day long, forever. All a hundred days. Rick and Morty forever 100 times. Over and over...</p>
</div>


<h1>characters#choose</h1>

<h2>Welcome to Rick and Morty rental services</h2>

<p>Choose your first character</p>

<%= link_to "Rick", characters_path(character: "Rick") %>
<%= link_to "Morty", characters_path(character: "Morty") %>
