<h1>characters#choose</h1>

<h2>Welcome to Rick and Morty rental services</h2>

<p>Choose your first character</p>

<%= link_to "Rick", characters_path(character: "Rick") %>
<%= link_to "Morty", characters_path(character: "Morty") %>
