.card {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px 16px 16px !important;
    width: 193px;
    height: auto;
    background: #FBFFE4;
    border: 2px solid #3E7776;
    box-shadow: 8px 8px 0px #F0FF92;
    margin: 16px;
    text-align: center;
}

h5 {
    font-family: Neue Machina;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.05em;
    color:#1D1D1E;
}

h6 {
    font-family: Neue Machina;
    font-style: normal;
    font-weight: 800;
    font-size: 8px;
    line-height: 135%;
    letter-spacing: 0.05em;
    color:#1D1D1E;
}

#img {
    // position: absolute;
    width: 50%;
    height: auto;
    margin: 0px auto 5px auto;
    border: 5px !important;
    border-color: black;
    image-rendering: auto;
}

// .card link {
//     font-family: Neue Machina;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 140%;
//     text-align: center;
//     color: #F0FF92;
// }
