.navbar-lewagon {
  justify-content: space-between;
  background: #1D1D1E;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

#font-color {
  color: #F0FF92;
}

#black-background {
  background: #1D1D1E;
}